@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #efefbb;
  background: -webkit-linear-gradient(to right, #d4d3dd, #efefbb);
  background: linear-gradient(to right, #d4d3dd, #efefbb);
}

.mobile-container {
  width: 400px;
  background-color: #fff;
  box-shadow: 0 0 10px 2px #3333331a;
  overflow: hidden;
  border-radius: 3px;
}

img {
  max-width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

header input {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  font-family: inherit;
  background-color: #eee;
}

header button {
  background-color: transparent;
  border: none;
  color: #aaa;
  font-size: 1.5rem;
  margin-left: 10px;
}

.fav-container {
  background-color: #f0f0f5;
  padding: 0.25rem 1rem;
  text-align: center;
}

.fav-meals {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.fav-meals li {
  margin: 5px;
  width: 75px;
}
.fav-meals li img {
  border: 2px solid #ffffff;
  box-shadow: 0 0 10px 2px #3333331a;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  object-fit: cover;
}

.fav-meals li span {
  font-size: 0.9rem;
}

.meal {
  border-radius: 3px;
  overflow: hidden;
  margin: 1.5rem;
  box-shadow: 0 0 10px 2px #3333331a;
}

.meal-header {
  position: relative;
}

.meal-header .random {
  position: absolute;
  top: 15px;
  background-color: #fff;
  padding: 0.25rem 0.5rem;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.meal-header img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.meal-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.meal-body h4 {
  margin: 0;
}

.meal-body .fav-btn {
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  color: gray;
  cursor: pointer;
}

.meal-body .fav-btn.active {
  color: yellowgreen;
}
